/* 
* @Author: somnath
* @Date:   2015-06-23 16:17:32
* @Last Modified by:   somnath
* @Last Modified time: 2015-06-30 18:03:06
*/


footer.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 0px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 64px;
      line-height: 64px;
    }
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; 
    }
}