<div class="card-panel">
    <form autocomplete="off">
        <div class="card-content">
            <h5 class="card-title">Register</h5>
            <div class="row">
                <div class="input-field col l6 s12">
                    <input type="text" name="fname" id="register_fname">
                    <label for="register_fname">First Name</label>
                </div>
                <div class="input-field col l6 s12">
                    <input type="text" name="lname" id="register_lname">
                    <label for="register_lname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s12">
                    <input type="date" name="dob" id="register_dob" class="datepicker dob">
                    <label for="register_dob">DOB</label>
                </div>
                <div class="input-field col l6 s12">
                    <select name="gender" id="register_gender">
                        <option value="">..</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <label for="register_gender">Gender</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s12">
                    <input type="text" name="phone" id="register_phone">
                    <label for="register_phone">Phone</label>
                </div>
                <div class="input-field col l6 s12">
                    <input type="text" name="cell" id="register_cell">
                    <label for="register_cell">Cell</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="email" name="email" id="register_email">
                    <label for="register_email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="addr1" id="register_addr1">
                    <label for="register_addr1">Address 1</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="addr2" id="register_addr2">
                    <label for="register_addr2">Address 2</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="city" id="register_city">
                    <label for="register_city">City</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="state" id="register_state">
                        <option value="">..</option>
                        <option value="MA">MA</option>
                    </select>
                    <label for="register_state">State</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="pin" id="register_pin">
                    <label for="register_pin">Pin</label>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light" type="submit">Register</button>
        </div>
    </form>
</div>